<header class="box">
    <form class="search-form" id="search-form">
        <button type="submit" class="button button-search">
            <span class="material-icons">search</span>
            <span class="search-text">Search</span>
        </button>
        
        <input type="text" class="input" name="query" autocomplete="off" placeholder="Search images..." />
        <button type="button" class="button button-clear">
            <span class="material-icons">
                close
            </span>
        </button>
    </form>
</header>